<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ЁЯУГ Terms & Conditions - GlobalEarnPro</title>
  <style>
    body {
      background: linear-gradient(to bottom right, #4b0082, #8a2be2);
      color: #fff;
      font-family: 'Segoe UI', sans-serif;
      padding: 30px;
    }
    h1 {
      text-align: center;
      font-size: 26px;
      margin-bottom: 20px;
    }
    ul {
      line-height: 1.8;
    }
    li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <h1>ЁЯУГ ржмрзНржпржмрж╣рж╛рж░рзЗрж░ рж╢рж░рзНрждрж╛ржмрж▓рзА / Terms & Conditions</h1>
  <ul>
    <li>тЬЕ ржмрзНржпржмрж╣рж╛рж░ржХрж╛рж░рзА ржЕржмрж╢рзНржпржЗ ржкрзНрж░ржХрзГржд рждржерзНржп ржкрзНрж░ржжрж╛ржи ржХрж░ржмрзЗржиред<br>тЬЕ Users must provide accurate information.</li>
    <li>ЁЯЪл ржПржХрж╛ржзрж┐ржХ ржЕрзНржпрж╛ржХрж╛ржЙржирзНржЯ рждрзИрж░рж┐ ржХрж░рж▓рзЗ ржмрзНржпрж╛ржи рж╣рждрзЗ ржкрж╛рж░рзЗржиред<br>ЁЯЪл Multiple accounts may lead to ban.</li>
    <li>тЪая╕П ржЕржмрзИржз ржХрж╛рж░рзНржпржХрзНрж░ржо ржХрж░рж▓рзЗ ржЕрзНржпрж╛ржХрж╛ржЙржирзНржЯ рж╕рзНржерж╛ржпрж╝рзАржнрж╛ржмрзЗ ржмрж╛рждрж┐рж▓ рж╣рждрзЗ ржкрж╛рж░рзЗред<br>тЪая╕П Illegal activity may result in permanent ban.</li>
    <li>ЁЯФД ржЖржорж░рж╛ ржпрзЗржХрзЛржирзЛ рж╕ржоржпрж╝ ржЖржорж╛ржжрзЗрж░ рж╢рж░рзНрждрж╛ржмрж▓рзА ржкрж░рж┐ржмрж░рзНрждржи ржХрж░рждрзЗ ржкрж╛рж░рж┐ред<br>ЁЯФД Terms may change anytime without notice.</li>
  </ul>
</body>
</html>
